:root {
    --main-color: #272b30;
    --sec-color: #32383e;
    --text-color: #fff;
}

body {
    font-family: 'Comfortaa', cursive;
    background-color: var(--main-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nerko One', cursive;
}


/*start game section*/
.game .main-img {
    height: 40vh;
}

/*start navbar*/
.game nav {
    background-color: rgb(58, 73, 123) !important;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 70%);
    margin-top: -30px;
}

.game nav .logo {
    width: 40px;
}

.game nav .nav-link {
    color: var(--text-color) !important;
}

.game .nav-item .nav-link.active,
.game .nav-item .nav-link:hover {
    color: #09c !important;
    transition: color 0.5s;
    cursor: pointer;
}

/*end navbar*/

/*start main content*/
.home .card {
    filter: grayscale(0.7);
    transition: transform 0.5s, filter 0.5s 0.1s;
    cursor: pointer;
}

.home .card:hover {
    filter: none;
    transform: scale(1.05);
}


.home .card-footer span {
    background-color: var(--sec-color);
}

/*end main content*/

/*end game section*/

/*start details section*/
.details {
    background-color: var(--main-color);
}

.details i {
    cursor: pointer;
}

/*end details section*/


/*start loader */
.loading-item {
    position: fixed;
    z-index: 9999;
    inset: 0;
    background-color: #272b30e3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

/*end loader */